<html ng-app="Lista">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title> LISTA </title>
        <style>
            .jumbotron{
                width: 700px;
                text-align:center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 150px;
            }
            .table{
                margin-top: 20px;
            }
            .form-controll{
                margin-top: 10px;
        
            }
            .selecionado{
                background: yellow;
            }
        </style>
    <script src="/angular.js"></script>
    <script src="/angular-locale_pt-br.js"></script>
    <script>
       angular.module("Lista", []);
       angular.module("Lista").controller("ListaCtrl", function ($scope, $http){
          $scope.app = "lista";
          $scope.contatos= []
          $scope.operadoras= [
              {
                  nome: "Oi", codigo: 14, categoria: "Celular", preco: 1
              },
              {
                  nome: "Vivo", codigo: 15, categoria: "Celular", preco: 2
              },
              
              {
                  nome: "Tim", codigo: 41, categoria: "Celular", preco: 3
              },
              {
                nome: "Gvt", codigo: 25, categoria: "Fixo", preco: 4
              },
              {
                nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 5
              }
          ];
          $scope.AdicionarContato = function (contato) {
            contato.data= new Date();
            delete $scope.contato;
            $scope.contatoForm.$setPristine();
          };    
           $scope.ApagarContatos = function(contatos){
                $scope.contatos = contatos.filter(function (contato){
                if (!contato.selecionado) return contato;
            });
           };
           $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato){
                    return contato.selecionado;
                });      
           };
           $scope.ordenarPor = function(campo){
               $scope.criterioDeOrdenacao = campo;
               $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }
           var carregarContatos = function(){
               $http.get("http://localhost:4567").success(function (data){
                   $scope.contatos = data;
              });
            };
            carregarContatos();
        });
    </script>
</head>
<body ng-controller="ListaCtrl">
    <div class="jumbotron">
        <h3>
            <input type="text"  class="form-control" ng-model="criterioDeBusca" placeholder="Oque você está buscando?">
            <table ng-show="contatos.length > 0" class="table ">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome:</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone:</a></th>
                    <th>Operadora:</th>
                    <th>DATA:</th>
                    
                </tr>
                
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                   <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                   <td>{{contato.nome}}</td>
                   <td>{{contato.telefone}}</td>
                   <td>{{contato.operadora.nome}}</td>
                   <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
                </tr>
                <hr/>
            </table>
                <form name="contatoForm">
                <input class="form-controll btn-block" type="text" ng-model="contato.nome" placeholder="Nome:" name="nome" ng-required="true" ng-minlength="10"/>
                <input class="form-controll btn-block"type="text" ng-model="contato.telefone" placeholder="Telefone:" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                <select class="form-controll btn-block" ng-model="contato.operadora" ng-options="operadora.nome  + '('+ (operadora.preco | currency) +')' for operadora in operadoras | orderBy:'nome'"> 
                    <option value="">Selecione uma operadora</option>
                </select>
            </form>
            <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                Por favor, preencha o nome!
            </div>
            <div ng-show="contatoForm.nome.$error.minlength " class="alert alert-danger">
                O Campo nome deve ter no minimo 10 caracteres 
            </div>
            <div ng-show="contatoForm.telefone.$required && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor, preencha o Telefone!
            </div>
            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                O campo telefone deve ter o formato DDDDD-DDDD
            </div>
            <button class="btn btn-primary btn-block" ng-click="AdicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="ApagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>

            </h3>
    </div>
</body>
</html>